/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}*/

/*a.navbar-brand {
  width: max-content;
  align-self: start;
}*/

/*nav{
  position: relative;
  background-color:#d8e9f0;
  height: 100px;
}*/

header{
  height:max-content;
  width: 100%;
  background-color: #d8e9f0;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.first-lay{
  display: flow-root;
  width: 100%;
  height: max-content;
  padding-left: 25px;
  padding-right: 25px;
}

.second-lay{
  width: 100%;
  height: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

li{
  list-style:none;
}

.first-list{
  display: flex;
  float: right;
  margin-bottom: 0px;
  padding-inline-start: 0px;
}

.link1:hover{
  color: black;
}

.btn-secondary {
  color: #fff;
  background-color: black;
  border-color: #6c757d;
}

.first-list  a{
  padding-right: 25px;
}

.second-list{
  display: flex;
  float: right;
  margin-bottom: 0px;
  height: inherit;
}

.second-list > li{
  padding: 25px;
}

.title{
  color: black;
}

html {
  font-size: 14px;
}

h4{
  color: black;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.logoIcon{
  cursor: pointer;
  height: 50px;
  width: 200px;
  float: left;
  margin: 10px 0 0 10px;
}

.dropdown-toggle::after {
  float: right;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}