.title-FP{
    margin: 20px;
    height: max-content;
}

.title-FP a{
    color: black;
}

.checkBoxGroup-FP{
    margin-top: 20px;
}

.checkBoxItem-FP label{
    margin-left: 5px;
}

.salartGroup-FP{
    margin-top: 20px;
}

.salartGroup-FP input{
    width: 100px;
    margin-top: 10px;
}

.salartGroup-FP label{
    margin-left: 5px;
}

.contentGroup-FP select{
    margin-top: 10px;
}

.salartGroup-FP p{
    margin: 0;
}

.contentContainer-FP h3{
    margin: 20px 0px 0px 0px;
}

.mainTitle-FP{
    margin: 20px 0px 0px 0px;
}

.contentContainer-FP{
    border: 1px solid black;
    height: max-content;
    width: 100%;
    padding: 1px 20px 20px 20px;
    background-color: #d8e9f0;
}

.contentGroup-FP{
    margin-top: 20px;
}

.contentGroup-FP p{
    width: 100%;
    margin: 0;
}

.contentGroup-FP input{
    margin-top: 10px;
    padding: 5px 10px;
    height: 40px;
    width: 100%;
}

@media (max-width: 700px){
    .mainContainer-FP{
        margin: 0;
        padding: 0;
    }
}

.multiline{
    width: 100%;
}

@media (min-width: 800px){
    .mainContainer-FP{
        width: 730px;
        margin: 0 auto;
        padding: 20px 20px 40px;
    }
}

.title-FP > a{
    color: black;
}

.SubmitButton-FP{
    color: white;
    width: 100%;
    background-color: black;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    border: none;
    width: 100px;
    margin: 0;
}

.lastGroup-FP{
    margin-top: 20px;
    height: max-content;
}

.lastGroup-FP input{
    height: 40px;
    width: max-content;
}

.lastGroup-FP label ,.lastGroup-FP a{
    margin: 0 0 0 10px;
    align-self: center;
    color: black;
}